<%= current_user.email %>

<h2>Workshops </h2>
<%= link_to "Add workshop", new_workshop_path, class: "btn btn-primary" %>

<div class="space"> </div>

<div class="row">
  <% @workshops.each do |ws| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="..." alt="...">
        <div class="caption">
          <h3><%= link_to ws.name.to_s, workshop_path(ws) %></h3>
          <p><%= ws.description %></p>
          <p>Status: <%= ws.status %> </p>
          <p>Capacity: <%= ws.capacity %> </p>
          <p><%= link_to 'Delete', workshop_path(ws), class: 'btn btn-danger', method: :delete %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
